# Data acquisition

In [1]:
from pathlib import Path

import pandas as pd
import functions.data_acquisition as data_funcs

%cd ..

import src.configuration as config

Path(config.RAW_DATA_DIRECTORY).mkdir(parents=True, exist_ok=True)
Path(config.INTERIM_DATA_DIRECTORY).mkdir(parents=True, exist_ok=True)
Path(config.PROCESSED_DATA_DIRECTORY).mkdir(parents=True, exist_ok=True)

/workspaces/Madesh9-aviation_final_project

## 1. NTSB incident data

Data source: [NTSB Downloadable Aviation Datasets](https://data.ntsb.gov/avdata)

### 1.1. Download

In [2]:
data_funcs.download_data(config.INCIDENT_DATA_URL, config.RAW_DATA_DIRECTORY, config.RAW_INCIDENTS_MDB_FILE)

### 1.2. Parse and save as CSV

Uses [access_parser](https://github.com/claroty/access_parser) to convert Microsoft Access database file to CSV and then read into Pandas DataFrame.

In [3]:
table=data_funcs.parse_mdb(config.RAW_INCIDENTS_MDB_FILE, config.RAW_INCIDENTS_CSV_FILE)

## 2. On-time performance data

Data source: [Airline Service Quality Performance 234 (On-Time performance data)](https://www.bts.gov/browse-statistical-products-and-data/bts-publications/airline-service-quality-performance-234-time)

### 2.1. Get download links

In [4]:
links=data_funcs.get_ontime_links(config.ONTIME_DATA_URL)

### 2.2. Download on-time data

In [5]:
data_funcs.download_ontime_data(links[:config.ONTIME_FILES], config.ONTIME_DATA_LINK_PREFIX, config.RAW_DATA_DIRECTORY)

### 2.3. Parse and combine on-time datafiles

In [6]:
ontime_df=data_funcs.parse_asc_datafiles(config.ONTIME_FILES, config.RAW_DATA_DIRECTORY, config.RAW_ONTIME_CSV_FILE)

./data/raw/ontime.td.202501 (3).asc
./data/raw/ontime.td.202412.asc

## 3. Feature extraction

### 3.1. Incident data

In [7]:
incidents_df=pd.read_csv(config.RAW_INCIDENTS_CSV_FILE, low_memory=False)
incidents_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29264 entries, 0 to 29263
Data columns (total 93 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Aircraft_Key             29264 non-null  int64
 1   cert_max_gr_wt           20043 non-null  float64
 2   fc_seats                 11363 non-null  float64
 3   cc_seats                 1409 non-null   float64
 4   pax_seats                10510 non-null  float64
 5   total_seats              23073 non-null  float64
 6   num_eng                  25043 non-null  float64
 7   date_last_insp           19372 non-null  object
 8   afm_hrs_last_insp        8004 non-null   float64
 9   afm_hrs                  19004 non-null  float64
 10  dprt_time                18561 non-null  float64
 11  phase_flt_spec           0 non-null      float64
 12  lchg_date                29264 non-null  object
 13  rwy_len                  12953 non-null  float64
 14  rwy_width                12889 non-null  float64
 15  acft_year                15120 non-null  float64
 16  commercial_space_flight  29264 non-null  bool
 17  unmanned                 29264 non-null  bool
 18  ifr_equipped_cert        29264 non-null  bool
 19  elt_mounted_aircraft     29264 non-null  bool
 20  elt_connected_antenna    29264 non-null  bool
 21  ev_id                    29264 non-null  object
 22  regis_no                 29219 non-null  object
 23  ntsb_no                  29264 non-null  object
 24  acft_missing             29264 non-null  object
 25  far_part                 28547 non-null  object
 26  flt_plan_filed           24641 non-null  object
 27  flight_plan_activated    17729 non-null  object
 28  damage                   27331 non-null  object
 29  acft_fire                28990 non-null  object
 30  acft_expl                28165 non-null  object
 31  acft_make                29221 non-null  object
 32  acft_model               29210 non-null  object
 33  acft_series              10927 non-null  object
 34  acft_serial_no           26582 non-null  object
 35  acft_category            28846 non-null  object
 36  acft_reg_cls             0 non-null      float64
 37  homebuilt                29264 non-null  object
 38  fixed_retractable        29264 non-null  object
 39  type_last_insp           21810 non-null  object
 40  elt_install              20900 non-null  object
 41  elt_oper                 16334 non-null  object
 42  elt_aided_loc_ev         9357 non-null   object
 43  elt_type                 13240 non-null  object
 44  owner_acft               15800 non-null  object
 45  owner_street             9373 non-null   object
 46  owner_city               24628 non-null  object
 47  owner_state              24094 non-null  object
 48  owner_country            27309 non-null  object
 49  owner_zip                23387 non-null  object
 50  oper_individual_name     29264 non-null  object
 51  oper_name                15098 non-null  object
 52  oper_same                0 non-null      float64
 53  oper_dba                 1375 non-null   object
 54  oper_addr_same           0 non-null      float64
 55  oper_street              7409 non-null   object
 56  oper_city                23975 non-null  object
 57  oper_state               23434 non-null  object
 58  oper_country             27126 non-null  object
 59  oper_zip                 22005 non-null  object
 60  oper_code                1876 non-null   object
 61  certs_held               25867 non-null  object
 62  oprtng_cert              0 non-null      float64
 63  oper_cert                0 non-null      float64
 64  oper_cert_num            1064 non-null   object
 65  oper_sched               3459 non-null   object
 66  oper_dom_int             3128 non-null   object
 67  oper_pax_cargo           2915 non-null   object
 68  type_fly                 23547 non-null  object
 69  second_pilot             23648 non-null  object
 70  dprt_pt_same_ev          4453 non-null   object
 71  dprt_apt_id              20998 non-null  object
 72  dprt_city                23562 non-null  object
 73  dprt_state               21705 non-null  object
 74  dprt_country             24141 non-null  object
 75  dprt_timezn              0 non-null      float64
 76  dest_same_local          0 non-null      float64
 77  dest_apt_id              18676 non-null  object
 78  dest_city                21384 non-null  object
 79  dest_state               19664 non-null  object
 80  dest_country             22262 non-null  object
 81  report_to_icao           0 non-null      float64
 82  evacuation               0 non-null      float64
 83  lchg_userid              10074 non-null  object
 84  afm_hrs_since            29264 non-null  object
 85  rwy_num                  13276 non-null  object
 86  site_seeing              25833 non-null  object
 87  air_medical              25844 non-null  object
 88  med_type_flight          134 non-null    object
 89  fuel_on_board            8827 non-null   float64
 90  elt_manufacturer         7088 non-null   object
 91  elt_model                6319 non-null   object
 92  elt_reason_other         0 non-null      float64
dtypes: bool(5), float64(24), int64(1), object(63)
memory usage: 19.8+ MB

In [8]:
pd.set_option('display.max_rows', 200)
incidents_df.head().transpose()

,0,1,2,3,4
Aircraft_Key,1,1,2,1,1
cert_max_gr_wt,NaN,2400.0,1960.0,2850.0,9920.0
fc_seats,NaN,NaN,NaN,NaN,NaN
cc_seats,NaN,NaN,NaN,NaN,NaN
pax_seats,NaN,NaN,NaN,NaN,NaN
total_seats,NaN,4.0,2.0,2.0,9.0
num_eng,NaN,1.0,1.0,1.0,1.0
date_last_insp,NaN,2007-04-01 00:00:00,2007-01-01 00:00:00,2007-09-01 00:00:00,NaN
afm_hrs_last_insp,NaN,75.0,NaN,NaN,NaN
afm_hrs,NaN,2865.0,340.0,516.0,1871.0
dprt_time,NaN,2200.0,2230.0,2100.0,400.0
phase_flt_spec,NaN,NaN,NaN,NaN,NaN
lchg_date,2023-08-03 13:29:08,2020-09-25 18:05:31,2020-09-25 18:05:31,2020-09-25 18:05:31,2020-09-25 18:04:02
rwy_len,NaN,2700.0,2700.0,5003.0,NaN
rwy_width,NaN,45.0,45.0,100.0,NaN
acft_year,NaN,NaN,NaN,NaN,NaN
commercial_space_flight,False,False,False,False,False
unmanned,False,False,False,False,False
ifr_equipped_cert,False,False,False,False,False
elt_mounted_aircraft,False,False,False,False,False
elt_connected_antenna,False,False,False,False,False
ev_id,20080211X00175,20080107X00026,20080107X00026,20080109X00036,20080107X00027
regis_no,N530NA,N8037W,N15EX,N579RM,N398J
ntsb_no,DFW08RA039,SEA08LA057A,SEA08LA057B,DFW08CA054,DFW08LA055
acft_missing,N,N,N,N,N
far_part,NUSN,091,091,091,091
flt_plan_filed,NaN,NONE,NONE,NONE,IFR
flight_plan_activated,NaN,NaN,NaN,N,Y
damage,SUBS,MINR,SUBS,SUBS,NaN
acft_fire,NaN,NONE,NONE,NONE,NONE
acft_expl,NaN,NONE,NONE,NONE,NONE
acft_make,Eurocopter France,PIPER,Barnard/Stancil,Micco Aircraft Company,Pilatus
acft_model,AS350B3,PA 28-180,Glastar,MAC-145B,PC-12/45
acft_series,NaN,NaN,NaN,NaN,NaN
acft_serial_no,NaN,28-2104,5496,260004,398
acft_category,HELI,AIR,AIR,AIR,AIR
acft_reg_cls,NaN,NaN,NaN,NaN,NaN
homebuilt,N,N,Y,N,N
fixed_retractable,FIXD,FIXD,FIXD,RETR,RETR
type_last_insp,NaN,ANNL,COAW,ANNL,UNK
elt_install,NaN,Y,Y,Y,Y
elt_oper,NaN,N,N,N,N
elt_aided_loc_ev,NaN,N,N,N,N
elt_type,NaN,NaN,NaN,NaN,NaN
owner_acft,NaN,Marshall White,Kenneth Couey,NaN,Oklahoma cardiovascular Associates PC
owner_street,NaN,NaN,NaN,NaN,NaN
owner_city,NaN,Sebastopol,Pioneer,Gonzales,Oklahoma City
owner_state,NaN,CA,CA,TX,OK
owner_country,NaN,USA,USA,USA,USA
owner_zip,NaN,95472,95666,78629,73`120
oper_individual_name,N,N,N,Y,N
oper_name,Prism Helicopters,Timothy Bennett,Kenneth Couey,NaN,NaN
oper_same,NaN,NaN,NaN,NaN,NaN
oper_dba,NaN,NaN,NaN,NaN,NaN
oper_addr_same,NaN,NaN,NaN,NaN,NaN
oper_street,NaN,NaN,NaN,NaN,NaN
oper_city,NaN,Novato,Pioneer,NaN,NaN
oper_state,NaN,CA,CA,NaN,NaN
oper_country,NaN,USA,USA,NaN,NaN
oper_zip,NaN,94949,95666,NaN,NaN
oper_code,NaN,NaN,NaN,NaN,NaN
certs_held,NaN,Y,Y,Y,Y
oprtng_cert,NaN,NaN,NaN,NaN,NaN
oper_cert,NaN,NaN,NaN,NaN,NaN
oper_cert_num,NaN,NaN,NaN,NaN,NaN
oper_sched,NaN,NaN,NaN,NaN,NaN
oper_dom_int,NaN,NaN,NaN,NaN,NaN
oper_pax_cargo,NaN,NaN,NaN,NaN,NaN
type_fly,EXLD,PERS,PERS,PERS,PERS
second_pilot,NaN,N,N,N,N
dprt_pt_same_ev,NaN,NaN,NaN,NaN,NaN
dprt_apt_id,NaN,O69,OQ3,T20,PHX
dprt_city,NaN,Petaluma,Sonoma,GONZALES,Phoenix
dprt_state,NaN,CA,CA,TX,CA
dprt_country,NaN,USA,USA,USA,USA
dprt_timezn,NaN,NaN,NaN,NaN,NaN
dest_same_local,NaN,NaN,NaN,NaN,NaN
dest_apt_id,NaN,OQ3,O70,AXH,PWA
dest_city,NaN,Sonoma,Jackson,HOUSTON,Oklahoma City
dest_state,NaN,CA,CA,TX,OK
dest_country,NaN,USA,USA,USA,USA
report_to_icao,NaN,NaN,NaN,NaN,NaN
evacuation,NaN,NaN,NaN,NaN,NaN
lchg_userid,gibs-i,NaN,NaN,NaN,NaN
afm_hrs_since,N,Y,Y,N,N
rwy_num,NaN,7,7,090,NaN
site_seeing,N,N,N,N,N
air_medical,N,N,N,N,N
med_type_flight,NaN,NaN,NaN,NaN,NaN
fuel_on_board,NaN,NaN,NaN,NaN,NaN
elt_manufacturer,NaN,NaN,NaN,NaN,NaN
elt_model,NaN,NaN,NaN,NaN,NaN
elt_reason_other,NaN,NaN,NaN,NaN,NaN

In [9]:
incident_features={
    'dprt_time': 'departure_time',
    'dprt_apt_id': 'origin',
    'dest_apt_id': 'destination',
    'regis_no': 'tail_number'
}

extracted_incident_df=incidents_df[incident_features.keys()].copy()
extracted_incident_df=extracted_incident_df.rename(columns=incident_features)
extracted_incident_df['incident']=[1]*len(extracted_incident_df)
extracted_incident_df.dropna(inplace=True)
extracted_incident_df.to_csv(config.EXTRACTED_INCIDENTS_FILE, index=False)
extracted_incident_df.head()

   departure_time origin destination tail_number  incident
1          2200.0   O69         OQ3       N8037W         1
2          2230.0   OQ3         O70        N15EX         1
3          2100.0   T20         AXH       N579RM         1
4           400.0   PHX         PWA        N398J         1
5          2215.0   KFNL        KFNL      N24965         1

In [10]:
extracted_incident_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14413 entries, 1 to 29225
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   departure_time  14413 non-null  float64
 1   origin          14413 non-null  object
 2   destination     14413 non-null  object
 3   tail_number     14413 non-null  object
 4   incident        14413 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 675.6+ KB

### 3.2. On-time data

In [11]:
ontime_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1231062 entries, 0 to 1231061
Data columns (total 96 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   DL           1231062 non-null  object
 1   5030         599028 non-null   float64
 2   Unnamed: 2   41 non-null       object
 3   Unnamed: 3   41 non-null       float64
 4   9E           1231062 non-null  object
 5   5030.1       599028 non-null   float64
 6   CVG          599028 non-null   object
 7   LGA          1231062 non-null  object
 8   20250127     599028 non-null   float64
 9   1            599028 non-null   float64
 10  1700         599028 non-null   float64
 11  1700.1       599028 non-null   float64
 12  1658         599028 non-null   float64
 13  1859         599028 non-null   float64
 14  1859.1       599028 non-null   float64
 15  1902         599028 non-null   float64
 16  0            1231062 non-null  int64
 17  0.1          1231062 non-null  int64
 18  119          599028 non-null   float64
 19  124          599028 non-null   float64
 20  -2           599028 non-null   float64
 21  3            599028 non-null   float64
 22  5            1231062 non-null  int64
 23  1716         599028 non-null   float64
 24  1853         599028 non-null   float64
 25  N917XJ       595162 non-null   object
 26  18           599028 non-null   float64
 27  9            599028 non-null   float64
 28  97           599028 non-null   float64
 29  Unnamed: 29  23426 non-null    object
 30  0.2          1231062 non-null  int64
 31  0.3          1231062 non-null  int64
 32  0.4          1231062 non-null  int64
 33  0.5          1231062 non-null  int64
 34  0.6          1231062 non-null  int64
 35  0.7          1231062 non-null  int64
 36  0.8          1231062 non-null  int64
 37  0.9          1231062 non-null  int64
 38  0.10         1231062 non-null  int64
 39  Unnamed: 39  3297 non-null     object
 40  0.11         1231062 non-null  int64
 41  0.12         1231062 non-null  int64
 42  0.13         1231062 non-null  int64
 43  0.14         1231062 non-null  int64
 44  Unnamed: 44  2562 non-null     object
 45  Unnamed: 45  68 non-null       object
 46  0.15         1231062 non-null  int64
 47  0.16         1231062 non-null  int64
 48  0.17         1231062 non-null  int64
 49  0.18         1231062 non-null  int64
 50  Unnamed: 50  11 non-null       object
 51  Unnamed: 51  0 non-null        float64
 52  0.19         1231062 non-null  int64
 53  0.20         1231062 non-null  int64
 54  0.21         1231062 non-null  int64
 55  0.22         1231062 non-null  int64
 56  Unnamed: 56  0 non-null        float64
 57  Unnamed: 57  0 non-null        float64
 58  0.23         1231062 non-null  int64
 59  0.24         1231062 non-null  int64
 60  0.25         1231062 non-null  int64
 61  0.26         1231062 non-null  int64
 62  Unnamed: 62  0 non-null        float64
 63  Unnamed: 63  0 non-null        float64
 64  0.27         1231062 non-null  int64
 65  0.28         1231062 non-null  int64
 66  0.29         1231062 non-null  int64
 67  0.30         599028 non-null   float64
 68  Unnamed: 68  0 non-null        float64
 69  FORM-2A      599028 non-null   object
 70  N            1231062 non-null  object
 71  4032         632034 non-null   float64
 72  OO           98 non-null       object
 73  4032.1       98 non-null       float64
 74  5539         632034 non-null   float64
 75  ORF          632034 non-null   object
 76  20241213     632034 non-null   float64
 77  1315         632034 non-null   float64
 78  1315.1       632034 non-null   float64
 79  1556         632034 non-null   float64
 80  1450         632034 non-null   float64
 81  1450.1       632034 non-null   float64
 82  1718         632034 non-null   float64
 83  95           632034 non-null   float64
 84  82           632034 non-null   float64
 85  161          632034 non-null   float64
 86  148          632034 non-null   float64
 87  -13          632034 non-null   float64
 88  1617         632034 non-null   float64
 89  1712         632034 non-null   float64
 90  N915XJ       631177 non-null   object
 91  21           632034 non-null   float64
 92  6            632034 non-null   float64
 93  55           632034 non-null   float64
 94  148.1        632034 non-null   float64
 95  FORM-3A      632034 non-null   object
dtypes: float64(48), int64(31), object(17)
memory usage: 901.7+ MB

In [12]:
ontime_df.head().transpose()

                      0           1           2           3           4
DL                   DL          DL          DL          DL          DL
5030             5030.0      5030.0      5030.0      5030.0      5030.0
Unnamed: 2          NaN         NaN         NaN         NaN         NaN
Unnamed: 3          NaN         NaN         NaN         NaN         NaN
9E                   9E          9E          9E          9E          9E
5030.1           5030.0      5030.0      5030.0      5030.0      5030.0
CVG                 CVG         CVG         CVG         CVG         LGA
LGA                 LGA         LGA         LGA         LGA         CVG
20250127     20250128.0  20250129.0  20250130.0  20250131.0  20250102.0
1                   2.0         3.0         4.0         5.0         4.0
1700             1700.0      1700.0      1700.0      1700.0      1335.0
1700.1           1700.0      1700.0      1700.0      1700.0      1335.0
1658             1647.0      1719.0      1656.0      1650.0      1328.0
1859             1859.0      1859.0      1859.0      1859.0      1558.0
1859.1           1859.0      1859.0      1859.0      1859.0      1558.0
1902             1829.0      1905.0      1831.0      1851.0      1537.0
0                     0           0           0           0           0
0.1                   0           0           0           0           0
119               119.0       119.0       119.0       119.0       143.0
124               102.0       106.0        95.0       121.0       129.0
-2                -13.0        19.0        -4.0       -10.0        -7.0
3                 -30.0         6.0       -28.0        -8.0       -21.0
5                   -17         -13         -24           2         -14
1716             1702.0      1738.0      1706.0      1710.0      1345.0
1853             1824.0      1902.0      1825.0      1843.0      1532.0
N917XJ           N914XJ      N478PX      N917XJ      N914XJ      N166PQ
18                 15.0        19.0        10.0        20.0        17.0
9                   5.0         3.0         6.0         8.0         5.0
97                 82.0        84.0        79.0        93.0       107.0
Unnamed: 29         NaN         NaN         NaN         NaN         NaN
0.2                   0           0           0           0           0
0.3                   0           0           0           0           0
0.4                   0           0           0           0           0
0.5                   0           0           0           0           0
0.6                   0           0           0           0           0
0.7                   0           0           0           0           0
0.8                   0           0           0           0           0
0.9                   0           0           0           0           0
0.10                  0           0           0           0           0
Unnamed: 39         NaN         NaN         NaN         NaN         NaN
0.11                  0           0           0           0           0
0.12                  0           0           0           0           0
0.13                  0           0           0           0           0
0.14                  0           0           0           0           0
Unnamed: 44         NaN         NaN         NaN         NaN         NaN
Unnamed: 45         NaN         NaN         NaN         NaN         NaN
0.15                  0           0           0           0           0
0.16                  0           0           0           0           0
0.17                  0           0           0           0           0
0.18                  0           0           0           0           0
Unnamed: 50         NaN         NaN         NaN         NaN         NaN
Unnamed: 51         NaN         NaN         NaN         NaN         NaN
0.19                  0           0           0           0           0
0.20                  0           0           0           0           0
0.21                  0           0           0           0           0
0.22                  0           0           0           0           0
Unnamed: 56         NaN         NaN         NaN         NaN         NaN
Unnamed: 57         NaN         NaN         NaN         NaN         NaN
0.23                  0           0           0           0           0
0.24                  0           0           0           0           0
0.25                  0           0           0           0           0
0.26                  0           0           0           0           0
Unnamed: 62         NaN         NaN         NaN         NaN         NaN
Unnamed: 63         NaN         NaN         NaN         NaN         NaN
0.27                  0           0           0           0           0
0.28                  0           0           0           0           0
0.29                  0           0           0           0           0
0.30                0.0         0.0         0.0         0.0         0.0
Unnamed: 68         NaN         NaN         NaN         NaN         NaN
FORM-2A         FORM-2A     FORM-2A     FORM-2A     FORM-2A     FORM-2A
N                     N           N           N           N           N
4032                NaN         NaN         NaN         NaN         NaN
OO                  NaN         NaN         NaN         NaN         NaN
4032.1              NaN         NaN         NaN         NaN         NaN
5539                NaN         NaN         NaN         NaN         NaN
ORF                 NaN         NaN         NaN         NaN         NaN
20241213            NaN         NaN         NaN         NaN         NaN
1315                NaN         NaN         NaN         NaN         NaN
1315.1              NaN         NaN         NaN         NaN         NaN
1556                NaN         NaN         NaN         NaN         NaN
1450                NaN         NaN         NaN         NaN         NaN
1450.1              NaN         NaN         NaN         NaN         NaN
1718                NaN         NaN         NaN         NaN         NaN
95                  NaN         NaN         NaN         NaN         NaN
82                  NaN         NaN         NaN         NaN         NaN
161                 NaN         NaN         NaN         NaN         NaN
148                 NaN         NaN         NaN         NaN         NaN
-13                 NaN         NaN         NaN         NaN         NaN
1617                NaN         NaN         NaN         NaN         NaN
1712                NaN         NaN         NaN         NaN         NaN
N915XJ              NaN         NaN         NaN         NaN         NaN
21                  NaN         NaN         NaN         NaN         NaN
6                   NaN         NaN         NaN         NaN         NaN
55                  NaN         NaN         NaN         NaN         NaN
148.1               NaN         NaN         NaN         NaN         NaN
FORM-3A             NaN         NaN         NaN         NaN         NaN

In [13]:
ontime_features={
    # 'carrier': 0,
    # 'flight_number': 1,
    'origin': 6,
    'destination': 7,
    # 'date': 8,
    'departure_time': 12,
    'tail_number': 25 
}

extracted_ontime_df=ontime_df.iloc[:,list(ontime_features.values())].copy()
extracted_ontime_df.columns=ontime_features.keys()
extracted_ontime_df['incident']=[0]*len(extracted_ontime_df)
extracted_ontime_df.dropna(inplace=True)
extracted_ontime_df.to_csv(config.EXTRACTED_ONTIME_FILE, index=False)
extracted_ontime_df.head()

  origin destination  departure_time tail_number  incident
0    CVG         LGA          1647.0      N914XJ         0
1    CVG         LGA          1719.0      N478PX         0
2    CVG         LGA          1656.0      N917XJ         0
3    CVG         LGA          1650.0      N914XJ         0
4    LGA         CVG          1328.0      N166PQ         0

In [14]:
extracted_ontime_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 595162 entries, 0 to 599027
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   origin          595162 non-null  object
 1   destination     595162 non-null  object
 2   departure_time  595162 non-null  float64
 3   tail_number     595162 non-null  object
 4   incident        595162 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 27.2+ MB

### 3.3. Combine incident and on-time data

In [15]:
data_df=pd.concat([extracted_ontime_df, extracted_incident_df], axis=0)
data_df.reset_index(inplace=True, drop=True)
data_df['origin']=data_df['origin'].astype(str)
data_df['destination']=data_df['destination'].astype(str)
data_df['departure_time']=data_df['departure_time'].astype(float)
data_df['tail_number']=data_df['tail_number'].astype(str)
data_df['incident']=data_df['incident'].astype(int)
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 609575 entries, 0 to 609574
Data columns (total 5 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   origin          609575 non-null  object
 1   destination     609575 non-null  object
 2   departure_time  609575 non-null  float64
 3   tail_number     609575 non-null  object
 4   incident        609575 non-null  int64
dtypes: float64(1), int64(1), object(3)
memory usage: 23.3+ MB

### 3.4. Save

In [16]:
data_df.to_csv(config.COMBINED_DATAFILE, index=False)